@model EscolaLumiart.Models.Dtos.LivroDto

@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão</h2>

<h3>Você quer realmente excluir esse registro?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Editora)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="List">Voltar</a>
    </form>
</div>
